<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.scottagarman.android.xblAvatar"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="internalOnly"
      >
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:uiOptions="splitActionBarWhenNarrow">

        <!-- Launcher Activity -->
        <activity android:name=".activities.LauncherActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities -->
        <activity android:name=".activities.actionbar.ABLauncherActivity" android:theme="@style/CustomActivityTheme"/>
        <activity android:name=".activities.nonactionbar.NABLauncherActivity" android:theme="@android:style/Theme.NoTitleBar"/>

    </application>

    <!-- SDK MIN -->
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
